absl-py==0.11.0
altgraph==0.17
appdirs==1.4.4
asgiref==3.3.1
astunparse==1.6.3
attrs==19.3.0
audioread==2.1.9
backcall==0.1.0
beautifulsoup4==4.9.0
bleach==3.1.1
blis==0.7.4
bokeh==2.2.3
bs4==0.0.1
cachetools==4.2.0
catalogue==1.0.0
catboost==0.23.2
category-encoders==2.2.2
certifi==2020.12.5
cffi==1.14.4
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
colorama==0.4.3
colorcet==2.0.2
confuse==1.4.0
curl==0.0.1
cycler==0.10.0
cymem==2.0.5
Cython==0.29.14
deap==1.3.1
decorator==4.4.2
defusedxml==0.6.0
distlib==0.3.1
Django==3.1.3
dnspython==1.16.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-2.3.1/en_core_web_lg-2.3.1.tar.gz
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
entrypoints==0.3
et-xmlfile==1.0.1
filelock==3.0.12
Flask==1.1.2
flatbuffers==1.12
future==0.18.2
gast==0.3.3
gensim==3.8.3
google-auth==1.24.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
graphviz==0.14
grpcio==1.32.0
h5py==2.10.0
holoviews==1.13.5
htmlmin==0.1.12
hupper==1.10.2
hvplot==0.7.0
hyperopt==0.2.5
idna==2.10
image==1.5.28
ImageHash==4.2.0
imageio==2.9.0
inflection==0.4.0
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.16.0
Jinja2==2.11.1
joblib==0.14.1
Js2Py==0.70
json5==0.9.2
jsonschema==3.2.0
jupyter-client==6.0.0
jupyter-core==4.6.3
jupyterlab==2.0.1
jupyterlab-server==1.0.7
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.1.0
librosa==0.8.0
lightgbm==2.3.1
llvmlite==0.34.0
lxml==4.5.0
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.2.1
missingno==0.4.2
mistune==0.8.4
more-itertools==8.2.0
murmurhash==1.0.5
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.5
nltk==3.5
notebook==6.0.3
numba==0.51.2
numexpr==2.7.1
numpy==1.19.5
oauthlib==3.1.0
openpyxl==3.0.3
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.4
pandas-datareader==0.8.1
pandas-profiling==2.9.0
pandocfilters==1.4.2
panel==0.10.2
param==1.10.0
parso==0.6.2
PasteDeploy==2.1.1
patsy==0.5.1
pefile==2019.4.18
phik==0.10.0
pickleshare==0.7.5
Pillow==8.0.1
plac==1.1.3
plaster==1.0
plaster-pastedeploy==0.7
player==0.6.1
plotly==4.8.1
pooch==1.3.0
preshed==3.0.5
prometheus-client==0.7.1
prompt-toolkit==3.0.4
protobuf==3.14.0
psycopg2==2.8.5
psycopg2-binary==2.8.5
py4j==0.10.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
pyct==0.4.8
pydot==1.4.2
pydotplus==2.0.2
pygame==1.9.6
Pygments==2.6.1
PyInstaller==3.6
pyjsparser==2.7.1
pymongo==3.10.1
pyparsing==2.4.6
PyQt5==5.14.2
PyQt5-sip==12.7.2
PyQt5-stubs==5.14.2.2
pyqt5-tools==5.14.2.1.7b3
PyQt5Designer==5.14.1
pyramid==2.0
pyramid-jinja2==2.8
pyrsistent==0.15.7
pyspark==3.1.2
python-dateutil==2.8.1
python-dotenv==0.13.0
pytz==2019.3
pyviz-comms==0.7.6
PyWavelets==1.1.1
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==19.0.0
Quandl==3.5.0
regex==2020.6.8
requests==2.25.1
requests-oauthlib==1.3.0
resampy==0.2.2
researchpy==0.1.9
retrying==1.3.3
rsa==4.7
scikit-image==0.17.2
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.11.0
selenium==3.141.0
Send2Trash==1.5.0
six==1.15.0
smart-open==4.0.1
SoundFile==0.10.3.post1
soupsieve==2.0
spacy==2.3.5
SQLAlchemy==1.3.16
sqlparse==0.3.1
srsly==1.0.5
statsmodels==0.11.1
stop-words==2018.7.23
stopit==1.1.2
tables==3.6.1
tangled-up-in-unicode==0.0.6
tensorboard==2.4.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
thinc==7.4.5
tifffile==2020.9.3
tornado==6.0.4
TPOT==0.11.7
tqdm==4.46.1
traitlets==4.3.3
translationstring==1.4
TurkishStemmer==1.3
typing-extensions==3.7.4.3
tzlocal==2.1
update-checker==0.18.0
urllib3==1.26.2
venusian==3.0.0
virtualenv==20.2.1
visions==0.5.0
wasabi==0.8.0
wcwidth==0.1.8
webencodings==0.5.1
WebOb==1.8.7
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xgboost==1.1.0
xlrd==1.2.0
xlwt==1.3.0
yellowbrick==1.1
zope.deprecation==4.4.0
zope.interface==5.2.0
